github_owner         = "rushikeshjangam"
github_repository    = "cloud-vm-optimizer"
aws_region           = "ap-south-1"
instance_type        = "t3.small"
root_volume_gb       = 12
allowed_app_cidr     = "0.0.0.0/0"
monthly_budget_usd   = 15
budget_alert_email   = "student@example.com"

